{{define "title"}}Password Update{{end}}

{{define "main"}}
<form action='/account/password/update' method='POST' novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <div>
        <label>Current Password:</label>
        {{with .Form.FieldErrors.current}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='current'>
    </div>
    <div>
        <label>New Password:</label>
        {{with .Form.FieldErrors.new}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='new'>
    </div>
    <div>
        <label>Confirm New Password</label>
        {{with .Form.FieldErrors.confirm}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='confirm'>
    </div>
    <div>
        <input type='submit' value='Change Password'>
    </div>
</form>
{{end}}